# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# directory exists only for testing
/test/dir
# main log file
/artemis.log
# future submodules?
/libc
/libcalg
/linux
